@font-face {
    font-family: 'Press Start 2P';

}

body{
    font-family: 'Press Start 2P' !important;
    background-color: black;
    color: white;
    text-decoration: none;
    height:100%;
}

#top,
#bottom {
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
}

#top {
    top: 0;
    background-color:#fff;
    background-image: url("https://media.giphy.com/media/4CSKMWwI1Q8Ni/giphy.gif");
    background-size: 100% 115%;
    background-repeat: no-repeat;
}

#bottom {
    bottom: 0;
    background-color: black;
}